<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4><strong>List of all my notifications</strong></h4>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <div class="margin_60_35" *ngIf="!notifications || (notifications && notifications.length == 0)">
    <div class="container">
      <div class="main_title">
        <h1>There is no notifications</h1>
      </div>
    </div>
  </div>
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-12">
        <div class="row1">
          <div class="col-md-12">
            <div class="strip_list" *ngFor="let n of notifications">
              <div class="wrapper">
                <figure>
                  <a><img src="/assets/img/notif.png" alt=""></a>
                </figure>
                <h3>Notification</h3>
                <ul>
                  <li (click)="openNotification(n.id)"><a class="btn "><i class="icon_refresh"></i> Mark as seen</a></li>
                </ul>
                <h6>{{n.sending_date|date}} </h6>
                <a>{{n.comm}} </a>
              </div>
            </div>
          </div>
          <!-- /box_list -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col -->
      <!-- /aside -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>
<style>
.row {
  display: flex;
  justify-content: space-between;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

</style>
