
<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4><strong>Showing 10</strong> of 140 results</h4>
        </div>
        <div class="col-md-6">
          <div class="search_bar_list">
            <input type="text" class="form-control" placeholder="Ex. Specialist, Name, Doctor...">
            <input type="submit" value="Search">
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /results -->

  <div class="filters_listing">
    <div class="container">
      <ul class="clearfix">
        <li>
          <h6>Type</h6>
          <div class="switch-field">
            <input type="radio" id="all" name="type_patient" value="all" checked>
            <label for="all">All</label>
            <input type="radio" id="doctors" name="type_patient" value="doctors">
            <label for="doctors">Doctors</label>
            <input type="radio" id="clinics" name="type_patient" value="clinics">
            <label for="clinics">Clinics</label>
          </div>
        </li>
        <li>
          <h6>Layout</h6>
          <div class="layout_view">
            <a href="#0" class="active"><i class="icon-th"></i></a>
            <a href="list.html"><i class="icon-th-list"></i></a>
            <a href="list-map.html"><i class="icon-map-1"></i></a>
          </div>
        </li>
        <li>
          <h6>Sort by</h6>
          <select name="orderby" class="selectbox">
            <option value="Closest">Closest</option>
            <option value="Best rated">Best rated</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
          </select>
        </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /filters -->

  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-12">
        <div class="row1">
          <div class="col-md-12">

            <div class="box_list" *ngFor="let n of notifications">
              <a href="#0" class="wish_bt"></a>

              <div class="wrapper">
                <small>Notification</small>


                <h3>{{n.sending_date|date}} </h3>
                <a>{{n.comm}} </a>


                <a href="badges.html" data-toggle="tooltip" data-placement="top" data-original-title="Badge Level" class="badge_list_1"><img src="img/badges/badge_1.svg" width="15" height="15" alt=""></a>
              </div>
              <ul>
                <li ><a (click)="openNotification(n.id)"><i (click)="openNotification(n.id)" class="icon_refresh"></i> Mark as seen</a></li>


              </ul>
            </div>

          </div>
          <!-- /box_list -->
          <!-- /box_list -->
          <!-- /box_list -->
          <!-- /box_list -->
          <!-- /box_list -->
          <!-- /box_list -->
        </div>
        <!-- /row -->
        <nav aria-label="" class="add_top_20">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

        <!-- /pagination -->
      </div>
      <!-- /col -->


      <!-- /aside -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>

<style>
  .row{

    display:flex;
    justify-content:space-between;

  }

  .row1{

    display:flex;
    justify-content:space-between;

  }

</style>
