<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4><strong>List of all my appointments</strong></h4>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
      <div class="margin_60_35" *ngIf="!appointments || (appointments && appointments.length == 0)">
    <div class="container">
      <div class="main_title">


        <h3 >There is no appointments</h3>
      </div>
    </div>
    </div>
  <div class="row col-md-12 col-lg-12 " style="margin-top: 30px;" *ngIf="appointments && appointments.length != 0">
    <div class="col-lg-8 col-md-8">
      <div class="strip_list " *ngFor="let a of appointments">
        <div class="row">

          <div class="col-lg-8 col-md-8">

            <figure class="cursor" style="left: -86px !important;">
              <a (click)="getPathFromAppointment(a.id)"><img src="/assets/img/rdv.png" alt=""></a>
            </figure>
            <h3>Appointment with {{a.patient.firstname}} {{a.patient.lastname}}
              <small style="color: #0a652b">{{a.status}}</small></h3>
                    <div style="margin: 15px;" *ngIf="a.status != 'refused'">
                      <a *ngIf="a.status == 'waiting'" class="cursor btn btn-update" style="color:"  (click)="acceptAppointment(a)">Accept</a>
           <a class="cursor btn btn-cancel" style="color:"  (click)="cancelAppointment(a)">Cancel</a>
         </div>
            <h6>Date: {{a.date | date}}</h6>
            <h6>Description: {{a.description}}</h6>
          </div>
          <div class="col-lg-4 col-md-4">
            <figure class="cursor" style="left: -86px !important;">
              <a (click)="getPathFromAppointment(a.id)"><img src="{{a.patient.picture}}" alt=""></a>
            </figure>
            <h3>Patient information</h3>
            <h6 *ngIf="a.patient.birthday">Birthday: {{a.patient.birthday}}</h6>
            <h6>Email: {{a.patient.email}}</h6>
            <h6>Adresse: {{a.patient.adresse.city}}</h6>
            
          </div>
        </div>
        <ul>
        
          <li class="cursor"><a class="btn" (click)="getPathFromAppointment(a.id)">View path</a></li>
          <app-fb-like></app-fb-like>
          <app-tweet></app-tweet>
    
          <li class="cursor"><a class="btn" (click)="ajoutRecommandation(a.id)">Add Recommandation</a></li>
        </ul>
      </div>
    </div>
    <!-- /content-left-->
    <div class="col-lg-4  col-md-4">
      <div class="box_general_3 booking">
        <form>
          <div class="title">
            <h3>Your path</h3>
            <small>This is the recommandations of the patient </small>
          </div>
          <div class="row">
            <h6 *ngIf="paths && paths.length == 0">There is no path for this patient.</h6>
            <div class="col-lg-12" *ngFor="let path of paths">
              <!-- /appointment -->
              <ng-container>
                <div class="strip_list " onclick="showDetail()">
                  <div *ngIf="affichagePath" style="visibility: visible">
                    <figure>
                      <a><img src="/assets/img/path.png" alt=""></a>
                    </figure>
                    <h3>Patient path</h3>
                    <p style="color:forestgreen" *ngIf="path.validation==true">Validated </p>
                    <p style="color:darkred" *ngIf="path.validation==false">Not Validated </p>
                    <h6>Type: {{path.type}}</h6>
                    <h6>Date: {{path.created_at | date}} </h6>
                    <h6 *ngIf="path.justification!=null">Justification: {{path.justification}} </h6>
                    <a class="cursor" style="color:white;" (click)="updateRecommandation(path.id,path.type)" class="btn_1">Update Recommandation</a>
                    <!-- map-->
                  </div>
                </div>
              </ng-container>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <!-- /row -->
          <hr>
        </form>
      </div>
    </div>
  </div>
  <!-- /row-->
</main>
<!-- /container-fluid -->
<!-- /map-right-->
<style>
.cursor {
  cursor: pointer;
}
.btn-update {
    color: white !important;
    background-color: #8BC34A;
    border-color: #8BC34A;
    margin-right: 15px;
    margin-left: 30px;
}.btn-cancel {
    color: white !important;
    background-color: #E91E63;
    border-color: #E91E63;
}
.right-ul{
  text-align: right;
}
</style>
