<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4><strong>List of all my patients recomended</strong></h4>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>

        <div class="margin_60_35" *ngIf="!patients || (patients && patients.length == 0)">
    <div class="container">
      <div class="main_title">


        <h3 >There is no patients recomended</h3>
      </div>
    </div>
    </div>

  <!-- /filters -->
  <p *ngIf="message!=null">
    <ngb-alert [dismissible]="false">
      <strong>Message</strong> {{message}}
    </ngb-alert>
  </p>


  <div class="container margin_60_35" *ngIf="patients && patients.length != 0">



    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6" *ngFor="let p of patients">


            <div class="box_list fadeIn"  >
               <figure class="cursor">
                <a (click)="getPathFromPatient(p.id)">
                  <img [src]="p.picture" class="img-fluid" alt="">
                  <div class="preview"><span>View path</span></div>
                </a>
              </figure>
              <div class="wrapper">
                <h3>Patient</h3>
                <h6 *ngIf="p.firstname">Firstname: <small>{{p.firstname}}</small></h6>
                <h6 *ngIf="p.lastname">Lastname: <small>{{p.lastname}}</small></h6>
                <h6 *ngIf="p.email">Email: <small>{{p.email}}</small></h6>
                <h6 *ngIf="p.birthday">Birthday: <small>{{p.birthday}}</small></h6>
                <h6 *ngIf="p.adresse">City: <small>{{p.adresse.city}}</small></h6>
              
        
           
                <ul class="cursor">
                  <li><a (click)="getPathFromPatient(p.id)">View path</a></li>
                </ul>

              </div>
            </div>
          </div>

        </div>
        <!-- /row -->

      </div>
      <!-- /col -->
      <ng-container>

        <aside class="col-lg-4" id="sidebar">
          <div class="box_general_3 booking" style="width: 400px;">
            <form>
              <div class="title">
                <h3>Patient path</h3>
                <small>This is the recommandations of the patient </small>
              </div>
          <div id="map_listing" class="normal_list" *ngIf="affichagePath">

            <div class="strip_list" *ngFor="let p of paths">

              <figure>
                <a ><img src="/assets/img/path.png" alt=""></a>
              </figure>
              <h3>Patient Path</h3>
              <h6>{{p.type}}</h6>

              <p style="color: darkgreen" *ngIf="p.validation==true"> Validated </p>
              <p style="color: darkred" *ngIf="p.validation==false"> Not validated </p>
              <p>Date: {{p.created_at | date}} </p>

              <p *ngIf="p.justification!=null">Justification: {{p.justification}} </p>

              <ul *ngIf="p.validation==false">

                <li><a (click)="validatePath(p)">Validate path</a></li>
              </ul>
            </div>


          </div>
            </form>
          </div>
        </aside>

      </ng-container>
      <!-- /aside -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->




</main>



<style>


  .modal-backdrop {
    z-index: -1;
  }
  .cursor{
  cursor: pointer;
}

</style>



<script>
  $(document).ready(function(){
// Show the Modal on load
    if (TempData["msg"] != null)
    {
      $("#myModal").modal("show");
    }

// Hide the Modal
    $("#myBtn").click(function () {
      $("#myModal").modal("hide");
    });

  });
</script>
