.bg {
  background-image: url('https://images.vexels.com/media/users/3/144434/raw/8e59a2158e8c974942c1e0416419a3ec-flat-illustrated-surgery-with-doctors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  ;
}
