<main>

  <div class="hero_home version_1 bg">
    <div class="content">
      <h3>Find a Doctor!</h3>
      
      <form method="post" action="http://www.ansonika.com/findoctor/list.html">
        <div id="custom-search-input">
          <div class="input-group">
            <input type="text" class=" search-query" placeholder="Ex. Name, Specialization ....">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /Hero -->
  <!-- /app_section -->
</main>
<!-- /main content -->
